#container {
    width: 100vw;
    height: 100vh;
    background: hsl(217, 54%, 11%);
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

#card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    width: 450px;
}

#nft-img {
    height: 390px;
    border-radius: 10px;
    margin: 30px;
}

#nft-name {
    margin-left: 30px;
    font-size: 20pt;
    font-weight: 600;
    color: aliceblue;
    word-wrap: normal;
}

#nft-desc {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18pt;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    word-wrap: normal;
}

#price-time {
    margin-top: 10px;
    margin-bottom: 30px;
}

#price {
    margin-left: 30px;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 14pt;
    float: left;
    display: inline;
}

#time {
    margin-right: 30px;
    color: hsl(215, 51%, 70%);
    font-size: 14pt;
    display: inline;
    float: right;
}

#creator {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: larger
}

#creator-img {
    /* background-color: aqua; */
    height: 45px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 200px;
}

#creator-creation {
    margin-left: 20px;
    color: hsl(215, 51%, 70%);
}

#creator-name {
    color: #ebebeb;
}

#line {
    border-color: hsl(215, 32%, 59%);
    width: 86%;
    /* border-width: 1px; */
}